body{
    background-color: #11db22;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#introText{
    color: #0000ff;
}

.highlight{
    color: #dd11a0;
    font-weight: bold;
}

#introContainer{
    width: 470px;
    float: left;
}

#introPicture{
    float: left;
}
.reset{
    clear: both;
}

#hobbyContainer{
    width: 410px;
    float: left;
}
#heroshots{
    float: left;
}

.socialTumb{
    float: left;
}

#mainContainer{
    width: 850px;
    margin: 0px auto;
}